
.navbar {
  position: fixed; 
  top: 0;         
  left: 0;         
  width: 100%;     
  z-index: 1000;   
  background-color:transparent; 
  color: #ffffff; 
  padding: 10px 0;
  padding: 20px 80px;
  display: flex;             
  justify-content:flex-start; 
  align-items: center;       
  gap: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-family: 'Arial', sans-serif; 
  font-size: 2em;         
  font-weight: bold;      
  color: #ffffff;         
  text-decoration: none;  
}
.navbar-brand span{
  color:darkorchid;
}
.navbar-nav {
  list-style: none; 
  margin: 0;        
  padding: 0;       
  display: flex;    
  gap: 40px;        
}

.nav-item a {
  font-family: 'Arial', sans-serif; 
  color: #ffffff;         
  text-decoration: none;  
  font-size: 1.1em;       
  transition: color 0.3s ease, text-shadow 0.3s ease;
 }

.nav-item a:hover {
  color: #f0f0f0; 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
}

.nav-item.active a {
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.9); 
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    padding: 10px 20px; 
  }

  .navbar-nav {
    margin-top: 10px; 
    flex-direction: column; 
    gap: 40px; 
    text-align: center;
     margin-right: 40px;
  }

  .navbar-brand {
    margin-bottom: 10px; 
  }
}